.navbar_container{
    background-color: #1F042B;
    border: 1px solid #FFF;
    height: 10vh;
    width: 75vw;
    margin: auto;
    margin-top: 10vh;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

.navbar_container ul{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-family: "Zen Dots";
    cursor: pointer;
    list-style: none;
    font-size: 3vh;
    padding: 0px;
}

.navbar_container li{
    padding: 8px 15px;
    border-radius: 15px;
}

.navbar_container li:hover{
    background-color: rgba(255, 255, 255, 0.37);
    transition: 0.5s; 
}